discord.py[voice]
aiohttp
asyncpg
apscheduler
sqlalchemy
pillow
PYyaml


#Encode QR codes
qrcode[PIL]
#Decode QR codes
pypng 
pyzbar
pyzbar[scripts]


#git+git://github.com/ojii/pymaging.git#egg=pymaging
#git+git://github.com/ojii/pymaging-png.git#egg=pymaging-png

#python-qrtools

#zbar

#pip
